.theme_toggler {
  z-index: 999999999;
  left: 20px;
  display: flex;
  height: 70px;
  align-items: center;
  padding: 10px;
  background: transparent;
  cursor: pointer;
}

.theme_toggler svg,
.nav_ac svg {
  width: 2em;
  height: 2em;
  color: var(--text-color-2);
  transition: color 0.3s ease;
}

.theme_toggler:hover svg {
  color: var(--text-color-3);
}
